h1{
    font-size: 30px;
   
}

h2{
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Coming Soon', cursive;
}


.p{
    /* font-family: '8BIT WONDER', sans-serif; */
    margin-top: 20px;
    font-family: 'Coming Soon', cursive;
    font-style: bold;                                         
}


.sombra{
    -webkit-box-shadow: -26px -32px 26px -17px rgba(0,0,0,0.65);
-moz-box-shadow: -26px -32px 26px -17px rgba(0,0,0,0.65);
box-shadow: -26px -32px 26px -17px rgba(0,0,0,0.65);


border-radius: 43px 43px 43px 43px;
-moz-border-radius: 43px 43px 43px 43px;
-webkit-border-radius: 43px 43px 43px 43px;
border: 0px solid #000000;
}

.borde{
    border-radius: 43px 43px 43px 43px;
-moz-border-radius: 43px 43px 43px 43px;
-webkit-border-radius: 43px 43px 43px 43px;
border: 0px solid #000000;
}

.logo{

  margin-left: 10px;
}


.row {
    margin-bottom: 20px; /* Estilo predeterminado */
  }
  
  /* Media query para pantallas de hasta 600 px de ancho (móviles) */
  @media only screen and (max-width: 600px) {
    .row {
      margin-bottom: 10px; /* Separación de 10 px entre filas para móviles */
    }
  
    .col.m12 {
      margin-bottom: 10px; /* Separación de 10 px entre columnas para móviles */
    }
  }

  body {
    height: 1500px; /* Para simular contenido largo y permitir probar el botón de volver arriba */
    margin: 0;
    font-family: Arial, sans-serif;
  }

  #scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f84a05c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }


  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font: 14px arial;
}

